<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.papergen.dao.StudentDao">
    <resultMap id="studentMap" type="com.papergen.domain.Student">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="password" property="password"/>
    </resultMap>
    <sql id="base_column">
        id, user_name, real_name, password
    </sql>
    <select id="selectStudentByUserName" resultMap="studentMap">
        select <include refid="base_column"/> from student where user_name=#{userName};
    </select>
    <select id="selectStudentById" resultMap="studentMap">
        select <include refid="base_column"/> from student where id=#{id};
    </select>
    <insert id="insertStudent" parameterType="com.papergen.domain.Student">
        INSERT INTO student (<include refid="base_column"/>) VALUES (#{id}, #{userName}, #{realName}, #{password})
    </insert>
</mapper>